{% extends "base.html" %}

{% block title %}Experience - Bay Wang{% endblock %}

{% block content %}
    <h1 class="page-title" style="margin-top: 50px;">Experience</h1>
    
    <div class="timeline">
        <div class="timeline-item visible">
            <div class="timeline-content">
                <h3><i class="fas fa-robot"></i> Magikid Robotics Lab</h3>
                <span>Teaching Assistant | Jan 2023 - May 2023</span>
                <p>Led introductory classes in Python and Scratch and programming skills.</p>
                <p>Provided hands-on guidance in robotics assembly, programming, and troubleshooting.</p>
            </div>
        </div>

        <div class="timeline-item visible">
            <div class="timeline-content">
                <h3><i class="fas fa-chalkboard-teacher"></i> Fullerton College</h3>
                <span>Tutor | Jan 2022 - Dec 2022</span>
                <p>Assisted instructors in teaching course materials, clarifying student doubts, and facilitating discussions to enhance comprehension.</p>
                <p> Utilized strong time management, communication, and leadership skills to promote active learning.</p>
            </div>
        </div>

        <div class="timeline-item visible">
            <div class="timeline-content">
                <h3><i class="fas fa-store"></i> Tea Champ</h3>
                <span>Manager | 2018 - 2022</span>
                <p>Managed daily store operations, overseeing a team of 5 employees.</p>
                <p>Implemented a new inventory tracking system that reduced waste and saved in costs.</p>
            </div>
        </div>
    </div>
{% endblock %}

















